<h1>Help Requests</h1>

<table class="table table-hover">
  <thead class="table-primary">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Description</th>
      <th>Priority</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>XXXX</td>
      <td>XXXX</td>
      <td>XXXX</td>
      <td>XXXX</td>
    </tr>
  </tbody>
</table>
